
<%= link_to 'Write new article', new_article_path %>
<div class="row">
<div class="col-md-9">
  <% @articles.each do |article| %>
    <div class="card p-3 shadow-sm my-3">
      <h3><%= article.title %></h3>
      <p><%= article.content[0..250] %>...</p>
      <%= link_to 'Read more...', article_path(article) %>
    </div>
  <% end %>
</div>
<div class="col-md-3 my-3">
<div class="list-group sidebar">
    <% 6.times do |j| %>
    <a href="#" class="list-group-item list-group-item-action pr-5 ">Sidebar item <%= j+1 %>
    </a>
  <% end %>
</div>

</div>
</div>
</div>
